*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.clr{
    clear: both;
}
body{
    font-family: 'Oxygen', sans-serif;
}
.wrapper_full{
    width: 100%;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}

/*ipode_menu start*/
.ipode_menu{
    color: #fefffd;
}
.menu_logo{
    width: 200px;
    float: left;
    background: #db373b;
}
.menu_logo a img{
    display: block;
    padding: 30px 35px;
}
.menu_content{
    width: 710px;
    float: left;
    padding-left: 50px;
}
.menu_content ul{
    float: left;
}
.menu_content ul li{
    float: left;
    
}
.menu_content ul li a{
    padding: 30px 15px;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #323232;
    display: block;
    position: relative;
    transition: all linear .3s;
}
.menu_content ul li a:before {
    position: absolute;
    left: 40px;
    bottom: 15px;
    height: 4px;
    width: 55px;
    content: '';
    transform: translateX(-50%);
    background: #2e2d2d;
    opacity: 0;
    transition: all linear .3s;
}
.menu_content ul li:hover a:before{
    opacity: 1;
}
.menu_content ul li.active a::before{
    opacity: 1;
}
/*ipode_menu end*/


/*description_part start*/
.description_part{
    background: #ffffff;
}
.description{
    padding-top: 60px;
}
.dis_content{
    width: 530px;
    float: left;
}
.dis_content h1{
    color: #000000;
    font-size: 48px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    padding-bottom: 35px;
}
.dis_content p{
    color: #3f3f40;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    padding-bottom: 80px;
    line-height: 30px;
}
.img_content{
    
}
.img_content img{
    padding: 0px 10px;
}
.dis_img{
    width: 430px;
    float: left;
}
.dis_img img{
    display: block;
}

/*description_part end*/


/*service_part start*/
.service_part{
    background: #222722;
    padding-top:  45px;
    padding-bottom: 100px;
}
.service_content{
    
}
.service_content1{
    width: 580px;
    float: left;
}
.service_content1 h4{
    color: #ececec;
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    padding-bottom: 40px;
    text-transform: capitalize;
}
.service_content1 h6{
    color: #ececec;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    padding-bottom: 35px;
    font-style: italic;
}
.service_content1 p{
    color: #ececec;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
.service_content2{
    width: 380px;
    float: left;
}
.service_content2 h4{
    color: #ececec;
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    padding-bottom: 60px;
}
.ser_content{
    margin: 5px 20px;
    display: inline-block;
}

.ser_icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transform:  translateY(-50%);
    display: block;
    background: #333333;
    text-align: center;
    float: left;
    margin-right: 10px;
    
}
.ser_icon a{
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    line-height: 55px;
    color: #ffffff;
    
}
.ser_con2{
    float: left;
    margin-top: -25px;
    
}
.ser_con2 h6{
    color: #565556;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    
}
.ser_con2 p{
    color: #ececec;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    
}

/*service_part end*/


/*end_menu start*/
.end_menu{
    background: #181818;
    padding: 40px 0px;
}
.end_menu_con{
    float: left;
    width: 300px;
}
.end_menu_con h5{
    color: #ececec;
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
.menu_end{
    float: left;
    width: 660px;
}
.menu_end ul{
    float: right;
}
.menu_end ul li{
    float: left;
}
.menu_end ul li a{
    padding: 0px 10px;
    color: #ececec;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
/*end_menu end*/




















